<div class="my-3">
  <h4>Add a todo</h4>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="title"
        class="form-control"
        id="title"
        placeholder="Enter your todo's title"
        name="title"
        [(ngModel)]="title"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="Enter your todo's description"
        name="description"
        [(ngModel)]="description"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
